@page
@model PizzaManagement.Pages.Staff.Orders.IndexModel
@{
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Staff/Orders/Create" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
                &nbsp;Create new Order
            </a>
        </div>
    </div>
    <br />

    <form method="get" >
        <div class="container">
            <div class="row">
                <!-- 7 parts width for input fields -->
                <div class="col-md-10">
                    <div class="row mb-2">
                        <!-- Parent column for the entire label and input row -->
                        <div class="col-md-6 d-flex align-items-center">
                            <!-- Label with fixed width -->
                            <label class="col-form-label me-2 w-25">Order ID:</label>
                            <!-- Input field taking the remaining width -->
                            <input name="OrderId" value="@Model.OrderId" asp-for="@Model.OrderId" class="form-control flex-grow-1" placeholder="" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6 d-flex align-items-center">
                            <!-- Label with fixed width -->
                            <label class="col-form-label me-2 w-25">Account:</label>
                            <input name="Account" value="@Model.Account" asp-for="@Model.Account" class="form-control flex-grow-1" placeholder="Find Customer (Account/Email)">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            Start Date: <input type="date" name="StartDate" value="@Model.StartDate?.ToString("yyyy-MM-dd")" asp-for="@Model.StartDate" class="form-control" placeholder="Start Date">
                        </div>
                        <div class="col-md-6">
                            End Date: <input type="date" name="EndDate" value="@Model.EndDate?.ToString("yyyy-MM-dd")" asp-for="@Model.EndDate" class="form-control" placeholder="End Date">
                        </div>
                    </div>
                </div>

                <!-- 3 parts width for buttons -->
                <div class="col-md-2 d-flex flex-column align-items-end justify-content-center">
                    <button type="submit" class="btn btn-primary w-100 mb-1">Filter</button>
                    <a asp-page="/Staff/Orders/Index" asp-page-handler="Export" asp-route-OrderId="@Model.OrderId" asp-route-Account="@Model.Account" asp-route-StartDate="@Model.StartDate" asp-route-EndDate="@Model.EndDate" class="btn btn-success w-100 mb-1">
                        Export to Excel
                    </a>
                </div>
            </div>
        </div>
    </form>
    <br /> <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Account</th>
                <th>Customer</th>
                <th>Order Date</th>
                <th>Required Date</th>
                <th>Shipped Date</th>
                <th>Freight</th>
                <th>Ship Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td width="12%">@order.OrderID</td>
                    <td width="12%">@order.Accounts.UserName</td>
                    <td width="12%">@order.Customer.ContactName</td>
                    <td width="12%">@order.OrderDate</td>
                    <td width="12%">@order.RequiredDate</td>
                    <td width="12%">@order.ShippedDate</td>
                    <td width="12%">@order.Freight</td>
                    <td width="12%">@order.ShipAddress</td>
                    <td>
                        <div class="w-75 btn-group" role="group">

                            <a asp-page="/Staff/OrderDetails/Index" asp-route-id="@order.OrderID" class="btn btn-success mx-2">
                                <i class="bi bi-eye"></i>
                            </a>
                            <a asp-page="/Staff/Orders/Edit" asp-route-id="@order.OrderID" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="/Staff/Orders/Delete" asp-route-id="@order.OrderID" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
    </table>
</div>
