@page
@model PizzaManagement.Pages.Staff.Products.IndexModel
@{
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="/Staff/Products/Create" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i>
                &nbsp;Create new Product
            </a>
        </div>
    </div>
    <br /> <br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Quantity Per Unit</th>
                <th>Unit in Stock</th>
                <th>Unit Price</th>
                <th>Product Image URL</th>
                <th>Category</th>
                <th>Supplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td width="14%">@product.ProductID</td>
                    <td width="14%">@product.ProductName</td>
                    <td width="14%">@product.QuantityPerUnit</td>
                    <td width="14%">@product.UnitsInStock</td>
                    <td width="14%">@product.UnitPrice</td>
                    <td width="14%">
                        <img class="card-img-top img-fluid d-block mx-auto mb-3"
                             src="@product.ProductImageURL"
                             alt="menuitem image"
                             style="object-fit: cover; height: 100%; width: 100%;">
                    </td>
                    <td width="14%">@product.Category.CategoryName</td>
                    <td width="14%">@product.Supplier.CompanyName</td>
                    <td>
                        <div class="w-75 btn-group" role="group">

                            <a asp-page="/Staff/Products/Edit" asp-route-id="@product.ProductID" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a asp-page="/Staff/Products/Delete" asp-route-id="@product.ProductID" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
    </table>
</div>
