@page
@model PizzaManagement.Pages.CheckoutModel
@{
}
@{
    ViewData["Title"] = "Checkout";
}

<h2>Checkout</h2>

@if (Model.CartItems.Any())
{
    <h3>Your Cart:</h3>
    <table class="table">
        <thead>
            <tr>
                <th width="25%"></th>
                <th width="25%">Product Name</th>
                <th width="25%">Quantity</th>
                <th width="25%">Price</th>
                <th width="25%">Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td><img src="@item.imageURL" class="img-fluid rounded shadow-sm" style="max-height: 100px; object-fit: cover;" /></td>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.UnitPrice.ToString("C")</td>
                    <td>$@(item.UnitPrice * item.Quantity)</td>
                </tr>
            }
        </tbody>
    </table>

    <h4 >Total: @Model.CartTotal.ToString("C")</h4>

    <h3>Customer Information:</h3>

    <form method="post">

        <div class="form-group">
            <label for="existingCustomer">Select Existing Receiver:</label>
            <select id="existingCustomer" name="SelectedCustomerId" class="form-control">
                <option value="">-- Select a Receiver --</option>
                @foreach (var customer in Model.Customers)
                {
                    <option value="@customer.CustomerID">@customer.ContactName (@customer.Phone) Address: @customer.Address</option>
                }
            </select>
        </div>

        <hr />

        <h4>Or Create a New Receiver:</h4>
        <div class="form-group">
            <label for="newCustomerName">Name:</label>
            <input type="text" id="newCustomerName" name="NewCustomer.ContactName" class="form-control" asp-for="NewCustomer.ContactName" />
            <span asp-validation-for="NewCustomer.ContactName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="newCustomerAddress">Address:</label>
            <input type="text" id="newCustomerAddress" name="NewCustomer.Address" class="form-control" asp-for="NewCustomer.Address"/>
            <span asp-validation-for="NewCustomer.Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="newCustomerPhone">Phone:</label>
            <input type="text" id="newCustomerPhone" name="NewCustomer.Phone" class="form-control" asp-for="NewCustomer.Phone" />
            <span asp-validation-for="NewCustomer.Phone" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Confirm Purchase</button>
    </form>
}
else
{
    <p>Your cart is empty. <a asp-page="/Index">Continue shopping</a>.</p>
}